
@font-face {
    font-family: Roboto;
     src: url("/rsschool-cv/assets/font/Roboto-Regular.ttf");
   }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

  
  header { background-color: grey;
    
  }

   body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    line-height: 1.5;
    font-weight: 400;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .main {
    margin-bottom: auto;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .section {
    width: calc(50% - 25px);
    padding: 20px;
    border-bottom: 1px solid #829985;
    padding-bottom: 30px;
  }

  .section-english,
  .section-courses {
      border-bottom: none;
  }

  .section-profile {
      width: 100%;
      display: flex;
      justify-content: space-around;
      
      padding-bottom: 40px;
  border-bottom: 10px solid #9ba19c;
    }
.section-h1 {
    padding-bottom: 30px;
    border-bottom: 3px solid #b2b8b3;
} 
     
    .section-profile-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }


  .section-profile-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 40px;
 }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 30px;
    line-height: 50px;
    transition: .3s;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
}

    .section-list {
        color: #9b9ca0;
        text-decoration: none;  
        transition: color 0.5s;
        cursor: pointer;
        
    }
    
    .section-list:hover {
        color: rgb(12, 12, 15);
    }

    .style-type-location {
        list-style-type: none;
    }
    
    .style-type {
        list-style-type: none;
    }
    .style-type::before {
        content: "\1F582";
    }
    
    .telegram {
        list-style-type: none;
    }
    .telegram::before {
       
    } 

    .style-github {
        list-style-type: none;
    }
   
    .style-type-phone {
        list-style-type: none;
    }
    .style-type-phone::before {
        
        content: "\260F";
    } 
    

    @media (max-width: 768px) {
        .section {
          width: 100%;
        }
      }
    
    .footer {
        color: aliceblue;
        background-color: dimgray;
        padding: 30px;
        display: flex;      
        
        align-items: center;
        margin: 0 0;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: auto;
    }

    .git-link {
        color: aliceblue;
        text-decoration: none;
        line-height: 45px; 
        text-decoration: none;  
        transition: color 0.5s;
        cursor: pointer;
    }

    .git-link:hover {
        color: #9ba19c;
    }

         